@import url('https://fonts.googleapis.com/css?family=Faster+One|Monoton|Oswald|Pacifico');
*{
	margin:0;
	padding:0;
}

body {
	background-color:white
}

#container {
	width:80vw;
	margin: 0 auto;
	background-color:#f7cf09;
	padding:0;
}

ul {
	background-color:#efe577;
	width:100%;
	height:60px;
}
ul li {
	float:left;
	padding-left:60px;
	list-style-type:none;
	line-height:60px;
	font-family:'Oswald',sans-serif;
}

ul li a {
	text-decoration:none;
	color:#b72c94;
}

ul li a:hover {
	color:#ea5dc7;
	font-weight:bold; 
}

h1 {
		text-align:center;
		width:400px;
		padding:30px;
		margin:20px auto;
}
	h3 {
	color:#abe8f2;
}

#g {
	width:100%;
	height:100vh;
	border:none;
	margin:auto; 
	text-align:center;
}

#jelly {
	width:100%;
	height:100%;
	border:none;
	margin:auto;
}

div {
	background-color:#f4eea8;
	width:80vw;
	height:200px;
	text-align:center;
	margin: 0 auto;
	padding:50px 0; 
}

/*div img {
	width:100%;*/
}

/*.colorpurple {
	color:#c669ea;*/
}
